/* Changes the input color of the text field */
.text-input {
    -fx-text-fill: white;
}

.text-field {
	-fx-accent: rgb(30,120,230);
}

.text-area {
	-fx-accent: rgb(30,120,230);
}

.toggle-switch .thumb {
    -fx-background-color: #FFFFFF;
    	-fx-border-color: #E5E5E5;
    	-fx-border-radius: 1.0em;
    -fx-background-insets: 0, 1, 1;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 0.75em;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 3);
}

.toggle-switch .thumb-area {
    -fx-background-radius: 1.5em;
    -fx-background-color: #262626;
    -fx-border-color: #E5E5E5;
    -fx-border-radius: 1.5em;
    -fx-background-insets: 0, 1;
}

.toggle-switch:hover .thumb {
    -fx-color: -fx-hover-base
}

.toggle-switch:selected .thumb-area {
   -fx-background-color: #4CD964;
   -fx-border-color: #4CD964;
   -fx-background-insets: 0, 1;

}

/* Changes the look of context menu */ 
.context-menu {
  -fx-background-color: #262626;
  -fx-text-fill: white; 
  -fx-background-radius: 5;
  -fx-border-radius: 5;
}

.context-menu .separator{
	-fx-background-color: #4a4c51;
}

.menu-item .label {
  -fx-text-fill: #b3b3b3;
}

.menu-item:focused .label {
  -fx-text-fill: white;
}

/* The main scroll bar CSS class */ 
.scroll-bar:horizontal ,
.scroll-bar:vertical{
    -fx-background-color:transparent;
}
 
/* The increment and decrement button CSS class of scroll bar */
.increment-button ,.decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
}

/* The main scroll bar **track** CSS class */
.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track{
     -fx-background-color: transparent;
     -fx-border-color:derive(black,80%);
     -fx-background-radius: 0em; 
}


.scroll-bar:horizontal:hover .track ,
.scroll-bar:horizontal:pressed .track ,
.scroll-bar:vertical:hover .track,
.scroll-bar:vertical:pressed .track{
     -fx-background-color: #3f3f3f;
     -fx-opacity: 0.2;
     -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:hover,
.scroll-bar:vertical .thumb:pressed{
	-fx-background-color: #636363;
    -fx-border-color: #cecece;
    -fx-background-insets: 4, 0, 0;
    -fx-border-insets: 3, 0, 0;
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

.increment-button:hover ,.decrement-button:hover {
    -fx-background-color:derive(gray,100%);
    -fx-border-color:derive(gray,80%); 
    -fx-padding:10px;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}
 
/* The increment and decrement button CSS class of scroll bar */

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

/* The increment and decrement button CSS class of scroll bar */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}
 
/* The main scroll bar **thumb** CSS class which we drag every time (movable) */

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:#161616;
    -fx-border-color: #4c4c4c;
    -fx-background-insets: 4, 0, 0;
    -fx-border-insets: 3, 0, 0;
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}
 
 
/* Changes color properties of the list view */
.jfx-list-cell {
 	-fx-background-radius: 5;
 	-fx-border-radius: 5;
}
 
.jfx-list-cell:selected {
 	-fx-background-color: #707070;
 	-fx-background-radius: 5;
 	-fx-text-fill: white;
}
 
.jfx-list-view {
 	-fx-background-insets: 0.0;
}
 
.jfx-list-view .scroll-bar:horizontal .increment-arrow,
.jfx-list-view .scroll-bar:horizontal .decrement-arrow,
.jfx-list-view .scroll-bar:horizontal .increment-button,
.jfx-list-view .scroll-bar:horizontal .decrement-button,
.jfx-list-view .scroll-bar:vertical .increment-arrow,
.jfx-list-view .scroll-bar:vertical .decrement-arrow,
.jfx-list-view .scroll-bar:vertical .increment-button,
.jfx-list-view .scroll-bar:vertical .decrement-button {
  	-fx-padding:0;
}
 
/* Hides the headers of the table views */
.column-header-background { 
  	visibility: hidden; 
  	-fx-padding: -1em;
}
  
/* Custom combo box styling */
.combo-box .list-cell {
    -fx-background: #707070;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.combo-box-popup .list-view {
    -fx-background-color: #707070, #707070;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell {
    /* No alternate highlighting */
    -fx-background-color: #707070;
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.jfx-progress-bar > .bar {
    -fx-background-color:  linear-gradient(from 0% 0% to 100% 100%, #FF0000, #FF7700);
}

.jfx-progress-bar > .track {
    -fx-background-color: black;
}

.pagination {
    -fx-border-color: #262626;
}
 
.pagination .page {
    -fx-background-color: #262626;
}
 
.pagination .pagination-control {
    -fx-background-color: #262626; 
}

.pagination .label {
    -fx-text-fill: transparent;
}

.pagination .button{
	-fx-background-color: transparent;
}
 
.pagination .pagination-control .bullet-button {
    -fx-background-color: transparent, transparent, transparent, transparent, #4A4A4A;
}
 
.pagination .pagination-control .bullet-button:selected {   
    -fx-background-color: transparent, transparent, transparent, transparent, #FFFFFF;
}
 
.pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: transparent, transparent;
}

.chart {
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}

.chart-title {
    -fx-text-fill: transparent;
}

.axis-label {
    -fx-text-fill: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
}

.default-color0.chart-series-line {
    -fx-stroke: linear-gradient(from 0% 0% to 100% 100%, #FF9500, #FFD200);
    -fx-stroke-width: 3px;
}

.default-color0.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}

.default-color1.chart-series-line {
    -fx-stroke: linear-gradient(from 0% 0% to 100% 100%, #FFCC00, #AAFF00);
    -fx-stroke-width: 3px;
}

.default-color1.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}